<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
    <meta charset="UTF-8">
    <title>Управление новостями</title>
</head>
<body>
    <h1>News App</h1>

    <div class="container">
        <nav>
            <ul>
                <li><a href="http://localhost:8080/create-news" class="button">Создать новость</a></li>
                <li><a href="http://localhost:8080/update-news" class="button">Обновить новость</a></li>
                <li><a href="http://localhost:8080/delete-news" class="button">Удалить новость</a></li>
                <li><a href="http://localhost:8080/view-news" class="button">Просмотреть новости</a></li>
            </ul>
        </nav>
    </div>

</body>
</html>
