<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View News</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>News List</h1>
    <div class="news-container" id="news-list"></div>

    <script>
        async function fetchNews() {
            const response = await fetch("http://localhost:8080/api/news");
            const newsList = await response.json();

            const newsListElement = document.getElementById("news-list");
            newsListElement.innerHTML = "";

            newsList.forEach(news => {
                const newsItem = document.createElement("div");
                newsItem.classList.add("news-item");

                const newsHTML = `
                    <p class="id">ID: ${news.id}</p>
                    <p class="title">Title: ${news.title}</p>
                    <p class="author">Author: ${news.author}</p>
                `;

                newsItem.innerHTML = newsHTML;
                newsListElement.appendChild(newsItem);
            });
        }

        fetchNews();
    </script>
</body>
</html>
